* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #F8F5EF;
    color: #33302D;
    font-family: Arial, sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
}